build-uno/
*.log
*.dat
*.pyc
*.pickle
*.yaml
python/pvoutput/data/
python/SonarCloud.bat
.scannerwork
arduino/NTPWifi/config.h
.idea/
*.back
*.json
*.csv
python/pushover/test_pushover.py
python/logger/test.py
python/pushover-test/
arduino/JSONLibrary/json_library/json_library.ino
