build-uno/
*.log
*.dat
*.pyc
*.pickle
*.yaml
python/pvoutput/data/
python/SonarCloud.bat
.scannerwork
arduino/NTPWifi/config.h
.idea/
*.back
*.json
*.csv
python/pushover/test_pushover.py
python/pushover-test/
arduino/JSONLibrary/json_library/json_library.ino
test.py
php/api/config/
arduino/ReadNUID/ReadNUID.ino
*.ppk
python/testvenv/
config.h
*test*
*.ico
python/random/
*.egg-info/
*.key
python/MQTT/scripts/live_tracker_sensornode.py
python/MQTT/scripts/post_sensornode.py
*.bin
venv/
arduino/MQTT_Portal/
php/joostverberk.nl/
php/touchofserenity.nl/
*.old*
shell/ARP_JOOST
*.sh
